<div class="eqLogic-widget eqLogic" style="min-height : 255px;background-color: #background-color#;color: #color#;width: 120px;border:#border#;border-radius:#border-radius#; padding : 0px; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<link href="plugins/netatmoThermostat/core/template/mobile/bootstrap-slider.css" rel="stylesheet">
    <div>
        <span class="statusCmd" style="position : absolute;bottom : 1px;left : 38px; width : 30px;z-index: 1030;"></span>
		<i class="icon jeedom-feu chaudiere" style="position : absolute;bottom: 3px;left: 3px;color:#3498db;"></i>
		<i class="icon divers-circular114 anticipation" style="position : absolute;bottom: 3px;left: 20px;color:#3498db;"></i>
        <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
		<i class="fa fa-retweet cursor tooltips changecmd" title="Changer commandes" style="position : absolute;bottom: 3px;right: 3px;"></i>
        <center class="widget-name" style="#hideEqLogicName#"></i> #name_display# <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></center>
		<center>
           <span class="heatstatus" style="font-size : 1.80em; font-weight: bold;margin-left : 1px;">#temperature# °C </span>
        </center>
                <span class="cmd cmd-widget" data-cmd_id="#away_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#hg_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#program_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#off_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#max_id#" style="display:none;"></span>
                <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#endtime_change#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#calendar_change#" style="display:none;"></span>
				<span class="cmd cmd-widget" data-cmd_id="#thermostat_cmd_id#" style="display:none;"></span>
				<center>
                <i class="fa fa-cog program cursor" title="Mettre le thermostat en mode automatique" style="font-size: 1.6em;margin-left: 5px;color:#3498db"></i>
                <i class="icon jeedom-mouvement away cursor" title="Mettre le thermostat en mode absent" style="font-size: 1.6em;margin-left: 2px;color:#3498db"></i>
                <i class="icon nature-snowflake hg cursor" title="Mettre le thermostat en mode hors-gel" style="font-size: 1.6em;margin-left: 5px;color:#3498db"></i>
                <i class="icon nature-weather1 max cursor" title="Mettre le thermostat en mode chauffe forcée" style="font-size: 1.6em;margin-left: 5px;color:#3498db"></i>
                <i class="fa fa-times off cursor" title="Eteindre le thermostat" style="font-size: 1.8em;margin-left: 5px;color:#3498db"></i>
				<br/>
                <span class="planning" style="cursor:default;font-size: 0.9em;margin-left: 5px;"></span>
                <span class="calendar" style="cursor:default;font-size: 0.9em;position: relative;top: -2px;left: 5px;"></span>
				</center>
                <script>
                    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                        jeedom.cmd.execute({id: '#refresh_id#'});
                    });
					$('.eqLogic[data-eqLogic_uid=#uid#] .away').on('click', function () {
                        jeedom.cmd.execute({id: '#away_id#'});
                    });
					$('.eqLogic[data-eqLogic_uid=#uid#] .hg').on('click', function () {
                        jeedom.cmd.execute({id: '#hg_id#'});
                    });
					$('.eqLogic[data-eqLogic_uid=#uid#] .program').on('click', function () {
                        jeedom.cmd.execute({id: '#program_id#'});
                    });
					$('.eqLogic[data-eqLogic_uid=#uid#] .max').on('click', function () {
                        jeedom.cmd.execute({id: '#max_id#'});
                    });
					$('.eqLogic[data-eqLogic_uid=#uid#] .off').on('click', function () {
                        jeedom.cmd.execute({id: '#off_id#'});
                    });
					
                    if ('#modetech#' == 'away') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .away').css('color', 'white');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').append('Absent <i class="fa fa-arrow-right"></i> #endtime#');
                    } else if ('#modetech#' == 'hg') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .hg').css('color', 'white');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').append('Hors-gel <i class="fa fa-arrow-right"></i> #endtime#');
					} else if ('#modetech#' == 'max') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .max').css('color', 'white');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').append('Forcé <i class="fa fa-arrow-right"></i> #endtime#');
					} else if ('#modetech#' == 'program') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .program').css('color', 'white');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').append('#planning# <i class="fa fa-arrow-right"></i> #nextplanning#  #endtime#');
						$('.eqLogic[data-eqLogic_uid=#uid#] .calendar').append('#calendar#');
						$('.eqLogic[data-eqLogic_uid=#uid#] .calendar').css('display', 'block');
					} else if ('#modetech#' == 'off') {
						$('.eqLogic[data-eqLogic_uid=#uid#] .off').css('color', 'white');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').append('Eteint');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').css('display', 'block');
					} else {
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').append('Manuel <i class="fa fa-arrow-right"></i> #endtime#');
						$('.eqLogic[data-eqLogic_uid=#uid#] .planning').css('display', 'block');
					}
					if (#consigne#>#temperature#) {
							$('.eqLogic[data-eqLogic_uid=#uid#] .chaudiere').css('color', 'white');
					}
					if (#anticipation# == 1) {
							$('.eqLogic[data-eqLogic_uid=#uid#] .anticipation').css('display', 'white');
					}
                </script>
				<div class="modeplan" style="display : none;">
				<center>
					<select class="cmd form-control selectCalendar" style="background-color:#cmdColor#;width:100%;color:white;">
							#calendar_selector#
					</select>
					<i class="icon divers-circular114"></i><input type="datetime-local" style="background-color:#cmdColor#;width:100%;color:white;" onchange="jeedom.cmd.execute({id: '#endtime_change#', value: {'message': this.value}});">
                </center>
				</div>
				<center>
				<div class="modetemp">
					<span class="spanConsigne" style="font-size : 2.5em; font-weight: bold;">#consigne#</span>°C</br>
					<input class="sliderConsigne" type="text" data-slider-min="7" data-slider-max="30" data-slider-step="0.5" data-slider-value="#consigne#"  data-slider-tooltip="hide" style="width : 75%;">
					<span class="heatstatus" style="font-size : 1.10em; font-weight: bold;margin-left : 5px;cursor : default;"><i class="fa fa-signal #wifistatus_history#" data-cmd_id="#wifistatus_id#" style="font-size : 1.10em;"> </i> <span style="font-size: 1.1em">#wifistatus#</span> <i class="fa fa-rss #rfstatus_history#" data-cmd_id="#rfstatus_id#" style="font-size : 1.10em;"> </i> <span style="font-size: 1.1em">#rfstatus#</span> <i class="fa fa-battery-full #batterie_history#" data-cmd_id="#batterie_id#" style="font-size : 1.10em;"> </i> <span style="font-size: 1.1em">#batterie#</span></span>
				</div>
                    <script>
					$.include(['plugins/netatmoThermostat/core/template/mobile/bootstrap-slider.js'], function (){
						 $(".eqLogic[data-eqLogic_uid=#uid#] .sliderConsigne").bootstrapSlider();
						$(".eqLogic[data-eqLogic_uid=#uid#] .sliderConsigne").on("slide",function(slideEvt) {
						$(".eqLogic[data-eqLogic_uid=#uid#] .spanConsigne").text(slideEvt.value);
					});
						$(".eqLogic[data-eqLogic_uid=#uid#] .sliderConsigne").on("slideStop", function(slideEvt) {
							jeedom.cmd.execute({id: '#thermostat_cmd_id#', value: {'title': slideEvt.value}});
						});
					});
					$('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click', function () {
							$('.eqLogic[data-eqLogic_uid=#uid#] .modeplan').toggle();
							$('.eqLogic[data-eqLogic_uid=#uid#] .modetemp').toggle();
						});
					$('.eqLogic[data-eqLogic_uid=#uid#] .selectCalendar').on('change', function() {
						jeedom.cmd.execute({id: '#calendar_change#', value: {'message': $(this).value()}});
					});
                    </script>
				</div>
        </center>
      </div>
 </div>

